.container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10%;

  .countRepos {

  }

  .paginator {
    display: flex;

    li {
      list-style-type: none;
      cursor: pointer;
      margin: 5px;
      font-family: 'Inter';
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #808080;

      .active {
        padding: 3px;
        border-radius: 3px;
        color: #FFFFFF;
        background: #0064EB;
      }
    }
  }
}