.container{
  margin: 28px 56px 30px 50px;

  img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
  }
  .info{
    margin-top: 29px;
    display: flex;
    justify-content:space-between;
    align-content: start;
    .name{
      font-family: 'Inter';
      font-weight: 600;
      font-size: 26px;
      color: #000000;
      .photo{
        margin-bottom: 45px;
      }
      a{
        display: block;
        margin-top: 12px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #0064EB;
        text-decoration: none;
      }
      .social{
        display: flex;
        p{
          display: block;
          margin-right: 16px;
          font-family: 'Inter';
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          img{
            text-align: center;
            font-family: 'Inter';
            margin-right: 8px;
            width: 24px;
            height: 24px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            position: relative;
            top: 5px;
          }
        };

      }
    }
    .repo{
      width: 70vw;
      border: 1px solid black;
      p{
        font-family: 'Inter';
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
        position: relative;
        top: -55px;
      }
    }
  }
}