@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
.container {
  width: 210px;
  margin: calc(100vh / 3) auto 0 auto;
  .blockWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
      display: block;
      width: 65px;
      height: 65px;
      color: #808080;
    }

    h1 {
      width: 210px;
      font-family: 'Inter', sans-serif;;
      font-weight: 400;
      font-size: 22px;
      line-height: 140%;
      text-align: center;
      color: #808080;
    }
  }

}