@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  height: 100vh;
  position: fixed;
  background: #E5E5E5;
  .header{
    height: 72px;
    width: 100vw;
    background: #0064EB;
    display: flex;
    img{
      margin: 16px 22px 16px 41px;
    }
  }
}



